<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>TOP</title>
</head>
<body>
    <div class="header-contents">
        <h1>ToDo</h1>
    </div>
    <div th:if="${error}" style="color:red;">
        <p th:text="${error}"></p>
    </div>
    <div>
        <p th:text="'本日の日付：' + ${todayFormat}"></p>
    </div>
    <div class="add-button">
        <a href="/new">
            <button type="submit">新規タスク</button>
        </a>
    </div><br>
    <form>
        <label>期限</label>
        <input type="date" name="startDate" />～
        <input type="date" name="endDate" />
            ステータス
        <select name="status">
            <option value=""></option>
            <option th:each="entry : ${map.entrySet()}"
                    th:value="${entry.key}"
                    th:text="${entry.value}"
                    th:selected="${entry.key} == selectedStatus">
            </option>
        </select>
        タスク内容<input type="text" name="filterText"/>
        <button type="submit">絞込</button>
    </form><br>
    <table>
        <thead>
        <tr>
            <th>タスク内容</th>
            <th>ステータス</th>
            <th>タスク期限</th>
            <th></th><!-- 編集・削除ボタン用 -->
        </tr>
        </thead>

        <tbody>
        <tr th:each="task : ${tasks}">
            <!-- タスク内容 -->
            <td th:text="${task.content}"></td>

            <!-- ステータス -->
            <td>
                <form method="post" th:action="@{/status/update/{id}(id=${task.id})}"
                      onsubmit="return confirm('ステータスを更新しますか？')">
                    <select name="status">
                        <option th:each="entry : ${map.entrySet()}"
                                th:value="${entry.key}"
                                th:text="${entry.value}"
                                th:selected="${task.status} == ${entry.key}">
                        </option>
                    </select>
                    <button type="submit">変更</button>
                </form>
            </td>

            <!-- タスク期限 -->
            <td th:classappend="${task.limitDate.isBefore(today)} ? 'past' : 'today'">
                <span th:text="${#temporals.format(task.limitDate, 'yyyy/MM/dd')}"></span>
            </td>

            <!-- 編集・削除 -->
            <td>
                <div class="edit-button">
                    <a th:href="@{/edit/{id}(id=${task.id})}">
                        <input type="button" value="編集">
                    </a>
                </div>
            </td>
            <td>
                <form th:method="delete" th:action="@{/delete/{id}(id=${task.id})}"
                      onsubmit="return confirm('本当に削除しますか？')">
                    <button type="submit">削除</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</body>
</html>